Options +SymLinksIfOwnerMatch 
RewriteEngine On 
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

RewriteRule ^audit   audit.php [L,qsa]
RewriteRule ^users/current/user_organizations   user_organizations.php?view=current_user [L,qsa]
RewriteRule ^users/current   users.php?view=current [L,qsa]
RewriteRule ^users/([0-9]+)/user_organizations/([0-9]+)   user_organizations.php?view=one&user_id=$1&id=$2 [L,qsa]
RewriteRule ^users/([0-9]+)/user_organizations   user_organizations.php?view=user&user_id=$1 [L,qsa]
RewriteRule ^users/([0-9]+)   users.php?view=one&id=$1 [L,qsa]
RewriteRule ^users   users.php [L,qsa]
RewriteRule ^organizations/public   org_list.php [L,qsa]
RewriteRule ^organizations/([0-9]+)/user_organizations/([0-9]+)   user_organizations.php?view=one&organization_id=$1&id=$2 [L,qsa]
RewriteRule ^organizations/([0-9]+)/user_organizations   user_organizations.php?view=org&organization_id=$1 [L,qsa]
RewriteRule ^organizations/([0-9]+)   organizations.php?view=one&id=$1 [L,qsa]
RewriteRule ^organizations   organizations.php [L,qsa]
RewriteRule ^offers/([0-9]+)   offers.php?view=one&id=$1 [L,qsa]
RewriteRule ^offers   offers.php [L,qsa]
RewriteRule ^clients/duplicate_check   clients.php?action=duplicate_check [L,qsa]
RewriteRule ^clients/duplicate_request   clients.php?action=duplicate_request [L,qsa]
RewriteRule ^clients/([0-9]+)/client_needs/([0-9]+)   client_needs.php?view=one&client_id=$1&id=$2 [L,qsa]
RewriteRule ^clients/([0-9]+)/client_needs   client_needs.php?view=all&client_id=$1 [L,qsa]
RewriteRule ^clients/([0-9]+)   clients.php?view=one&id=$1 [L,qsa]
RewriteRule ^clients   clients.php [L,qsa]
RewriteRule ^offer_type_categories/(.*)/offer_types   offer_types.php?view=active_category&category=$1 [L,qsa]
RewriteRule ^offer_type_categories/active   offer_type_categories.php?view=active [L,qsa]
RewriteRule ^offer_type_categories/(.*)   offer_type_categories.php?view=one&code=$1 [L,qsa]
RewriteRule ^offer_type_categories   offer_type_categories.php?view=all [L,qsa]
RewriteRule ^offer_types/active   offer_types.php?view=active [L,qsa]
RewriteRule ^offer_types/(.*)   offer_types.php?view=one&type=$1 [L,qsa]
RewriteRule ^offer_types   offer_types.php?view=all [L,qsa]
RewriteRule ^user_organizations/([0-9]+)   user_organizations.php?view=one&id=$1 [L,qsa]
RewriteRule ^user_organizations   user_organizations.php?view=all [L,qsa]
RewriteRule ^login_check   session_check.php [L,qsa]
RewriteRule ^admin_check   session_check.php?view=is_admin [L,qsa]
RewriteRule ^org_admin_check   session_check.php?view=is_org_admin [L,qsa]
RewriteRule ^login   session_login.php [L,qsa]
RewriteRule ^logout   session_logout.php [L,qsa]
RewriteRule ^password_reset_request   password_reset_request.php [L,qsa]
RewriteRule ^password_reset_confirm   password_reset_confirm.php [L,qsa]
RewriteRule ^set_organization   set_organization.php [L,qsa]

RewriteCond %{QUERY_STRING} ^filter=(.+)$
RewriteRule ^need_requests$ need_requests.php?view=%1 [L,qsa]

RewriteRule ^need_requests/([0-9]+)   need_requests.php?view=one&id=$1 [L,qsa]
RewriteRule ^need_requests   need_requests.php?view=all [L,qsa]

RewriteCond %{QUERY_STRING} ^filter=(.+)$
RewriteRule ^client_share_requests$ client_share_requests.php?view=%1 [L,qsa]

RewriteRule ^client_share_requests   client_share_requests.php [L,qsa]

#RewriteCond %{REQUEST_FILENAME} !-f 
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule . /index.php [L]

